{% extends 'base.html' %} {% block style %}
<!--  Custom CSS  -->
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

{% endblock%} {% block content%}
<div class="container chat-group">
  <div class="sidebar">
    <div class="sidebar-header">
      <span class="logo-chat">
        <img alt="Marca Picture" height="40" src="{{ url_for('static', filename='img/workChat.png') }}" width="40" />
        <b>WorkChat</b></span>
      <div>
        <div class="text-success mt-2">
          {{ session['usuario'] }}
          <span>
            <a href="/logout" class="text-success icono-hover">
              <i class="bi bi-box-arrow-left"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="sidebar-search">
      <input id="new-chat" placeholder="Busca un chat o inicia uno nuevo" type="text" />
      <ul id="user-list" class="listbox"></ul>
    </div>
    <div class="sidebar-contacts" id="sidebar-contacts">
      <h5>Contactos</h5>
      <div id="contacts-list" class="contacts-list"></div>
    </div>
    <div class="chat-list"></div>
  </div>
  <div class="chat-window">
    <div class="chat-header">
      <img alt="Contacto" height="40" src="" width="40" />
      <!-- Imagen del contacto -->
      <div class="chat-name"></div>
      <!-- Nombre del contacto -->
      <div class="ms-auto">
        <i class="bi-search"></i>
        <i class="bi-paperclip"></i>
        <i class="bi-three-dots-vertical"></i>
      </div>
    </div>
    <div class="chat-messages"></div>
    <div class="chat-footer">
      <input id="new-message" type="text" placeholder="Escribe un mensaje" />
      <button>
        <i class="bi-emoji-smile"> </i>
      </button>
      <button>
        <i class="bi-mic"> </i>
      </button>
    </div>
  </div>
</div>

<div class="dropdown-menu" id="menu">
  <a class="dropdown-item" href="#"><i class="bi bi-envelope-open"></i> Marcar como no leído</a>
  <a class="dropdown-item" href="#"><i class="bi bi-trash"></i> Vaciar chat</a>
  <a class="dropdown-item" href="#"><i class="bi bi-lock"></i> Bloquear contacto</a>
  <a class="dropdown-item" href="#"><i class="bi bi-x-circle"></i> Eliminar mensajes</a>
  <a class="dropdown-item" href="#"><i class="bi bi-volume-mute"></i> Silenciar</a>
</div>
<template id="chat-template">
  <div class="chat-item" oncontextmenu="return showMenu(event)">
    <img alt="Profile picture" height="50" width="50" />
    <div class="info">
      <h5></h5>
      <p></p>
    </div>
    <div class="time"></div>
  </div>
</template>
{% endblock %}
{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const chatInput = document.getElementById("new-chat");  // Campo para buscar/crear un chat
    const messagesInput = document.getElementById("new-message");  // Campo para enviar mensajes
    const messagesContainer = document.querySelector(".chat-messages");
    const chatList = document.querySelector(".chat-list");
    const chatHeader = document.querySelector(".chat-header");
    const chatNameHeader = chatHeader.querySelector(".chat-name");
    const chatImageHeader = chatHeader.querySelector("img");
    const contactsList = document.getElementById('contacts-list');
    const sidebarContacts = document.getElementById('sidebar-contacts');
    let activeChatItem = null;  // Elemento de la conversación activa
    let activeConversationId = null;  // ID de la conversación activa
    let chats = {};
    const userId = "{{ user_id }}";  // Obtener user_id de la sesión

    // Limpiar el chat al inicio
    clearChat();

    // Buscar usuarios mientras escribes en new-chat
    chatInput.addEventListener('input', function () {
      const query = chatInput.value.trim();
      contactsList.innerHTML = '';

      if (query !== '') {
        fetch(`/buscar_usuarios?query=${query}`)
          .then(response => response.json())
          .then(users => {
            users.forEach(user => {
              const listItem = document.createElement('div');
              listItem.className = 'contact-item';
              const profilePictureUrl = `/user_image/${user.id}`;
              listItem.innerHTML = `
            <img src="${profilePictureUrl}" alt="${user.first_name}" />
            <span>${user.first_name} (${user.alias_name})</span>`;
              listItem.addEventListener('click', () => {
                createOrOpenChat(user.id, user.first_name, profilePictureUrl)
                  .then(conversationId => {
                    setActiveChat(conversationId, user.first_name, profilePictureUrl);  // Establecer el chat activo
                  });
                chatInput.value = '';
                contactsList.innerHTML = '';
                contactsList.style.display = 'none';
                sidebarContacts.style.display = 'none';
              });
              contactsList.appendChild(listItem);
            });
            contactsList.style.display = 'block';
            sidebarContacts.style.display = 'block';
          })
          .catch(error => console.error('Error al buscar usuarios:', error));
      } else {
        contactsList.style.display = 'none';
        sidebarContacts.style.display = 'none';
      }
    });

    // Crear o abrir un chat existente
    function createOrOpenChat(userId, userName, profilePictureUrl) {
      return new Promise((resolve, reject) => {
        fetch(`/verificar_conversacion?user_id=${userId}`)
          .then(response => response.json())
          .then(conversation => {
            if (conversation.exists) {
              resolve(conversation.id);  // Devolver el ID de la conversación existente
            } else {
              // Si la conversación no existe, crear una nueva
              console.log('conversation',conversation);
              fetch(`/crear_conversacion`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  user_id: userId,
                  nombre: userName
                }),
              })
                .then(response => response.json())
                .then(data => {
                  addChatItem(profilePictureUrl, userName, 'Nuevo chat...', getCurrentTime());
                  resolve(data.conversation_id);  // Devolver el ID de la nueva conversación
                  console.log(data.conversation_id);
                })
                .catch(error => {
                  console.error('Error al crear la conversación:', error);
                  reject(error);
                });
            }
          })
          .catch(error => {
            console.error('Error al verificar la conversación:', error);
            reject(error);
          });
      });
    }

    // Establecer el chat activo y cargar mensajes
    function setActiveChat(conversationId, userName, profilePictureUrl) {
      chatNameHeader.textContent = userName;
      chatImageHeader.src = profilePictureUrl;
      activeConversationId = conversationId;  // Actualizar el ID de la conversación activa
      loadConversation(conversationId);  // Cargar los mensajes de la conversación activa
    }

    // Cargar mensajes de una conversación
    function loadConversation(conversationId) {
      fetch(`/get_messages?conversation_id=${conversationId}`)
        .then(response => response.json())
        .then(messages => {
          messagesContainer.innerHTML = '';  // Limpiar mensajes anteriores
          messages.forEach(msg => {
            addMessage("received", msg.content);  // Cargar mensajes recibidos
          });
        })
        .catch(error => {
          console.error('Error al cargar la conversación:', error);
        });
    }

    // Añadir evento para enviar mensajes cuando presionas Enter en "new-message"
    messagesInput.addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        const messageText = messagesInput.value.trim();
        console.log(activeConversationId);
        if (messageText !== "" && activeConversationId) {
          sendMessage(activeConversationId, messageText);  // Usar la conversación activa para enviar el mensaje
        } else {
          console.error('No hay una conversación activa o el mensaje está vacío.');
        }
      }
    });

    // Función para enviar mensaje
    function sendMessage(conversationId, messageText) {
      fetch(`/enviar_mensaje`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          conversation_id: conversationId,  // Enviar el ID de la conversación activa
          user_id: userId,  // ID del usuario actual
          content: messageText,
          media_type: null,
          media: null
        }),
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Error al enviar el mensaje');
          }
          return response.json();
        })
        .then(() => {
          addMessage("sent", messageText);  // Mostrar el mensaje enviado
          messagesInput.value = "";  // Limpiar el campo de entrada
        })
        .catch(error => {
          console.error('Error al enviar el mensaje:', error);
        });
    }

    // Función para seleccionar un chat y cargar su información
    function selectChat(chatItem, profilePicture, name, conversationId) {
      // Remover clase 'active' del chat-item anterior
      console.log('Chatitem :',chatItem, 'conversationid :',conversationId);
      if (activeChatItem) {
        activeChatItem.classList.remove('active');  // Desactivar el chat anterior
      }

      // Establecer el nuevo chat como activo
      activeChatItem = chatItem;
      activeConversationId = conversationId;  // Actualizar el ID de la conversación activa
      chatItem.classList.add('active');  // Resaltar el chat seleccionado

      // Actualizar el encabezado del chat con la nueva información del chat seleccionado
      chatNameHeader.textContent = name;
      chatImageHeader.src = profilePicture;

      // Cargar los mensajes de la conversación activa
      loadConversation(conversationId);
    }

    // Añadir un mensaje al chat
    function addMessage(type, text) {
      const messageHTML = `
      <div class="chat-message ${type}">
        <div class="message-content">${text}</div>
        <div class="chat-time">${getCurrentTime()}</div>
      </div>
    `;
      messagesContainer.innerHTML += messageHTML;
      messagesContainer.scrollTop = messagesContainer.scrollHeight;  // Desplazar hacia el final del chat
    }

    // Función para limpiar el chat
    function clearChat() {
      messagesContainer.innerHTML = '';  // Limpiar todos los mensajes
    }

    // Función para añadir un nuevo chat a la lista de chats
    function addChatItem(profilePictureUrl, name, message, time) {
      const chatItem = document.createElement("div");
      chatItem.classList.add("chat-item");
      chatItem.innerHTML = `
      <img alt="${name}" src="${profilePictureUrl}" width="50" height="50" />
      <div class="chat-info">
        <div class="chat-name">${name}</div>
        <div class="chat-message">${message}</div>
      </div>
      <div class="chat-time">${time}</div>
    `;
      chatItem.addEventListener("click", () => {
        selectChat(chatItem, profilePictureUrl, name, activeConversationId);  // Establecer el chat activo al hacer clic
      });

      chatList.appendChild(chatItem);
      chats[name] = [];  // Inicializar la conversación vacía
    }

    // Obtener la hora actual
    function getCurrentTime() {
      const date = new Date();
      return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
    }
  });

</script>





{% endblock %}