<div class="chat-item">
    <img alt="Geraldine" height="50"
        src="https://storage.googleapis.com/a1aa/image/pxT9wal41f3tHCmeVP71SOXwjmaYoXbqkE8vg0PFpC6CoCmTA.jpg"
        width="50" />
    <div class="chat-info">
        <div class="chat-name">
            Geraldine
        </div>
        <div class="chat-message">
            ok
        </div>
    </div>
    <div class="chat-time">
        9:21
    </div>
</div>
<div class="chat-item">
    <img alt="Cule Pindo" height="50"
        src="https://storage.googleapis.com/a1aa/image/kn03pfrPLzTxJC8T1Vcph7rh1IfMo4F4qRm6OjILRGuFoCmTA.jpg"
        width="50" />
    <div class="chat-info">
        <div class="chat-name">
            Cule Pindo
        </div>
        <div class="chat-message">
            Hs 1ra Quince...
        </div>
    </div>
    <div class="chat-time">
        Ayer
    </div>
</div>
<div class="chat-item">
    <img alt="Familia" height="50"
        src="https://storage.googleapis.com/a1aa/image/cD4uKUcOtG6YMdRdn6lDWMsSa88nPLO3fvztKItguxm9TBzJA.jpg"
        width="50" />
    <div class="chat-info">
        <div class="chat-name">
            Familia
        </div>
        <div class="chat-message">
            Geraldine cambió el...
        </div>
    </div>
    <div class="chat-time">
        9:06
    </div>
</div>
<div class="chat-item">
    <img alt="Nicolas H" height="50"
        src="https://storage.googleapis.com/a1aa/image/sOMPZVZ2AY50AxzEVNGCAJooHz780Er4ezPpQd1H4p9enCmTA.jpg"
        width="50" />
    <div class="chat-info">
        <div class="chat-name">
            Nicolas H
        </div>
        <div class="chat-message">
            si, creo que no tr...
        </div>
    </div>
    <div class="chat-time">
        10/10/2024
    </div>
</div>
<div class="chat-item">
    <img alt="Hernar SC" height="50" src="{{ url_for('static', filename='img/img1.jpg') }}" width="50" />
    <div class="chat-info">
        <div class="chat-name">
            Hernar SC
        </div>
        <div class="chat-message">
            Igualmente pa que e...
        </div>
    </div>
    <div class="chat-time">
        10/10/2024
    </div>
</div>
<div class="chat-item">
    <img alt="Telecom" height="50"
        src="https://storage.googleapis.com/a1aa/image/aV23fdtD5cUvSShpYlFKeaHaYfcmUeT81M0U1ojIHQ38fUwcC.jpg"
        width="50" />
    <div class="chat-info">
        <div class="chat-name">
            Telecom
        </div>
        <div class="chat-message">
            perfecto, Gracias...
        </div>
    </div>
    <div class="chat-time">
        10/10/2024
    </div>
</div>
<div class="chat-item">
    <img alt="Yo (tú)" height="50"
        src="https://storage.googleapis.com/a1aa/image/WkdBFMi3zPqaPVgbIBYTU9rGVfIU9bz8zccK2DyTT7jBUBzJA.jpg"
        width="50" />
    <div class="chat-info">
        <div class="chat-name">
            Yo (tú)
        </div>
        <div class="chat-message">
            https://open.spot...
        </div>
    </div>
    <div class="chat-time">
        10/10/2024
    </div>
</div>